#app {
    font-family: 'Gaegu', cursive;
    color: black;
    background: white;
}

.description {
    top: calc(100vh - 60%);
}

.text {
    top: calc(100vh - 10%);
}

.icon {
    top: calc(100vh - 90%);
}

.contact-icons {
    top: calc(100vh - 8%);
}